body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; /* Transparent background */
}

.container {
    text-align: left; /* Aligns everything to the left */
}

h1 {
    font-size: 14px;
    margin-bottom: 20px;
}

.input-container {
    display: inline-block;
    width: 200px;
    text-align: left;
}

input[type="text"] {
    font-size: 14px;
    padding: 5px 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    outline: none;
    background: transparent;
    width: 100%;
}

input[type="text"]::placeholder {
    color: #aaa;
    text-align: left;
}

button {
    background: none;
    border: none;
    color: #000;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
    display: block;
    padding-left: 0; /* Aligns the button directly under the input */
}

button:focus {
    outline: none;
}

.hidden {
    display: none;
}

.message {
    font-size: 24px;
    font-family: 'Helvetica', sans-serif;
    color: #000;
}
